[Unit]
Description=LighTPV
Requires=mongodb.service
After=mongodb.service

User=lightpv
Group=lightpv

[Service]
Type=simple
ExecStart=/opt/lightpv/src/lightpv.start.sh

[Install]
WantedBy=multi-user.target

